<html>
<head>
  <title>profile</title>
</head>
<body>
    <div class="div-right flex">
        <div style="font-size: 14px">
            
            <a href="/signup" role="button"> signup</a>
        </div>
        <div class="div-right flex">
            <div style="font-size: 14px">
                <a href="/sign" role="button"> Log in</a>
            </div>
  
  <div class="div-right flex">
    <div style="font-size: 14px">
        <a href="/signout" role="button"> Logout</a>
    </div>
</div>
</body>
</html>